<% provide(:title, 'Home') %>
<h1 xmlns="http://www.w3.org/1999/html">Sample App</h1>
<p>
  This is the home page for
  <a href="http://railstutorial.org/">Ruby on Rails Tutorial</a>
  sample application.
</p>



